<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forget Password</title>
  <link rel="stylesheet" href="forgetPassword.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="toast bg-danger" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-white">

      <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Incorrect username or password. Please try
        again.</span>
    </div>
  </div>
  <div class="forget-password">
    <div class="logo">
    </div>
    <div class="frame-9749">
      <div class="frame-9755">
        <span class="forget-password-1">
          Forget Password
        </span>
      </div>
      <div class="frame-9752">
        <div class="needs-validation" id="PasswordForm">
          <div class="input-field mb-3 mt-3">
            <div class="mb-3">
              <label for="username" class="form-label"> Username</label>
              <input type="text" class="form-fields-text-input-1 form-control" name="username"
                placeholder="Please enter username" required>
              <div class="invalid-feedback">Please fill out this field.</div>
              <span id="usernameErrorMessage" class="text-danger d-none">password must be alphanumeric characters
              </span>
            </div>
          </div>
        </div>

        <div class="frame-9751">
          <input type="submit" class="button btn btn-success" value="Next" onclick="return validateForm()" />

        </div>
      </div>
    </div>
  </div>

  <script src="forgetPassword.js"></script>
</body>

</html>